[submodule "agx_arm_urdf"]
	path = urdf/agx_arm_urdf
	url = https://github.com/agilexrobotics/agx_arm_urdf
[submodule "diffusion_policy"]
	path = third_party/diffusion_policy
	url = https://github.com/cliffordai6rkd-star/dp_hirol_main
